body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 30px;
    justify-content: center;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-subheading {
    color: #E5E7EB;
}

.header button {
    display: flex;
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.header-img {
    display: flex;
    background-color: #6d747d;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.body-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-tiles {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 142px;
}

.card-box {
    border: 3px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    text-align: center;
}

.quote-block {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    font-weight: bold;
    align-self: flex-end;
}

.action-call {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center;
}

.action-left {
    display: flex;
    flex-direction: column;
}

.action-header {
    color: #F9FAF8;
    font-weight: bold;
}

.action-body {
    color: #E5E7EB;
}

button.action {
    display: flex;
    align-self: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: solid 2px;
    border-color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 20px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7Eb;
    padding: 30px;
}


